$primary-color: rgba(239, 62, 35, 1);
$secondary-color: rgba(236, 125, 35, 1);
$base-color: #1b1523;
$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

html {
  font-size: 10px;
}

body {
  font-family: Raleway, sans-serif;
  margin: 0;
  font-size: 1.5rem;
  background: $base-color;
  color: $white;
}

.App {
  max-width: 860px;
  margin: 40px auto;
  text-align: center;

  h1 {
    font-size: 4rem;
  }

  button {
    background: none;
    border: 2px solid $primary-color;
    padding: 6px 12px;
    border-radius: 4px;
    color: $white;
    font-weight: bold;
    cursor: pointer;
    font-size: 2rem;

    &:hover {
      background: $primary-color;
      color: $white;
    }
  }
}
