.App {
  text-align: center;

  h1 {
    font-size: 2em;
    margin: 0;
  }
}

ul,
ol {
  list-style-type: none;
}

.trip-list {
  width: 480px;
  margin: 60px auto;

  ul {
    padding: 0;
  }

  li {
    border: 1px solid #e4e4e4;
    background-color: lighten(#ddd, 10%);
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 4px 4px 6px rbga(0, 0, 0, 0.05);
    border-radius: 5px;
    list-style-type: none;
    margin: 20px 0;
  }
}

.filters {
  button {
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    background-color: crimson;
    color: white;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
}
